In [1]:
import pandas as pd
import os
import statistics
import seaborn as sns
from matplotlib import pyplot
from sklearn import *
from  sklearn.model_selection import *
import numpy as np

In [4]:
#load and view csv
df=pd.read_csv('data/zillow_surrey.csv')
df.dropna()
# df=df['list-card-price'].astype(str)
df['price']=df['list-card-price'].str[2:]
df['price'] = df['price'].str.replace(r'\D', '')
df = df[df['price'].notna()]
df

C:\Users\epicr\anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

,list-card-addr,list-card-price,list-card-details,list-card-label,list-card-details 2,list-card-label 2,list-card-details 3,list-card-label 3,list-card-link href 2,price
0,"13615 Fraser Hwy #2304, Surrey, BC V3T 2V6","C$689,999",2,bds,2,ba,806,sqft,https://www.zillow.com/homedetails/13615-Frase...,689999
1,"15341 17th Ave #213, Surrey, BC V4A 1T8","C$699,900",2,bds,2,ba,935,sqft,https://www.zillow.com/homedetails/15341-17th-...,699900
3,"13655 Fraser Hwy #403, Surrey, BC V3T 2V6","C$674,000",2,bds,2,ba,809,sqft,https://www.zillow.com/homedetails/13655-Frase...,674000
4,"13318 104th Ave #2502, Surrey, BC V3T 1V4","C$689,900",2,bds,2,ba,821,sqft,https://www.zillow.com/homedetails/13318-104th...,689900
5,"10581 140th St #107, Surrey, BC V3T 0M7","C$658,000",2,bds,2,ba,"1,152",sqft,https://www.zillow.com/homedetails/10581-140th...,658000
...,...,...,...,...,...,...,...,...,...,...
108,"15322 101st Ave #302, Surrey, BC V3R 4G9","C$619,000",3,bds,2,ba,"1,179",sqft,https://www.zillow.com/homedetails/15322-101st...,619000
109,"14418 72nd Ave #A405, Surrey, BC V3S 2E7","C$425,000",1,bd,1,ba,552,sqft,https://www.zillow.com/homedetails/14418-72nd-...,425000
110,"13380 108th Ave #304, Surrey, BC V3T 0E7","C$408,800",1,bd,1,ba,569,sqft,https://www.zillow.com/homedetails/13380-108th...,408800
111,"3535 146a St #109, Surrey, BC V4P 1B1","C$868,000",2,bds,2,ba,"1,300",sqft,https://www.zillow.com/homedetails/3535-146a-S...,868000
112,"13428 105th Ave #1604, Surrey, BC V3T 1Z4","C$741,900",2,bds,2,ba,850,sqft,https://www.zillow.com/homedetails/13428-105th...,741900

In [5]:
#check types 
df.dtypes

list-card-addr           object
list-card-price          object
list-card-details        object
list-card-label          object
list-card-details 2      object
list-card-label 2        object
list-card-details 3      object
list-card-label 3        object
list-card-link href 2    object
price                    object
dtype: object

In [7]:
# convert objects to numerical figures
price_int=df['price'].astype(int)
df['priceint']=price_int

df_checktype=df[['priceint', 'list-card-details 3']].rename(columns={'list-card-details 3': 'sqft'}).dtypes
df_clean=df[['priceint', 'list-card-details 3', 'list-card-details', 'list-card-details 2']].rename(columns={'list-card-details 3': 'sqft',
                                                                                   'list-card-details': 'bds', 'list-card-details 2': 'ba',
                                                                                    'priceint':'price'})
df_clean['bds'].replace('Studio',0.5).astype(float)
df_clean['ba'].replace('--',0).astype(float)
df_clean['sqft'].replace(',','', regex=True, inplace=True)

df_checktype

priceint     int32
sqft        object
dtype: object

In [8]:
# replace NA and misc entries with values
df_clean=df_clean.replace(to_replace ="Studio",
                 value ="0.5").replace(to_replace= "--",value="0").astype(float)
df_clean

        price    sqft  bds   ba
0    689999.0   806.0  2.0  2.0
1    699900.0   935.0  2.0  2.0
3    674000.0   809.0  2.0  2.0
4    689900.0   821.0  2.0  2.0
5    658000.0  1152.0  2.0  2.0
..        ...     ...  ...  ...
108  619000.0  1179.0  3.0  2.0
109  425000.0   552.0  1.0  1.0
110  408800.0   569.0  1.0  1.0
111  868000.0  1300.0  2.0  2.0
112  741900.0   850.0  2.0  2.0

[112 rows x 4 columns]

In [9]:
#write df to csv

df_clean.to_csv('data/surrey_zillow_clean.csv', index=False)